.cart {
  margin-top: 100px;
  padding: 40px 20px;
  
  min-height: 100vh;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-items {
  width: 100%;
  max-width: 1000px;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 12px;
}

.cart-item-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: gray;
  font-size: max(1vw, 12px);
}

.cart-items-item {
  margin: 10px 0px;
  color: black;
}

.cart-items-item img {
  width: 50px;
  border-radius: 6px;
}

.cart hr {
  height: 1px;
  background-color: #e2e2e2;
  border: none;
}

.cart-items-item .cross {
  cursor: pointer;
  color: red;
  font-weight: bold;
}

.cart-bottom {
  margin-top: 40px;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  gap: max(5vw, 20px);
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 12px;
}

.cart-total {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  color: #333;
}

.cart-total hr {
  margin: 10px 0px;
}

.cart-total button {
  border: none;
  color: white;
  width: 100%;
  padding: 12px 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color:rgb(13, 14, 13);
}

.cart-promocode {
  flex: 1;
}

.cart-promocode p {
  color: #555;
}

.cart-promocode-input {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
  border-radius: 4px;
  overflow: hidden;
}

.cart-promocode-input input {
  background: transparent;
  border: none;
  outline: none;
  padding: 12px 10px;
  flex: 1;
}

.cart-promocode-input button {
  padding: 12px 20px;
  border: none;
  color: white;
  background-color:rgb(12, 12, 12);
  border-radius: 0;
  cursor: pointer;
}

@media (max-width: 1050px) {
  .cart-bottom {
    flex-direction: column;
  }

  .cart-items,
  .cart-bottom {
    width: 95%;
  }
}
