#hero .btn-hero {
    background:rgb(238, 137, 112) important!;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    display: inline-black;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.3s;
    line-height: 1;
    color: white;
    border: 2px solid #ccda45e;
    cursor: pointer;
    text-decoration: none;
}

#hero .btn-hero:hover{
    background:  #c4956a;
    color: #fff;
}